/* It will also feature a clean and polished user interface and be responsive, ensuring that it adapts to multiple screen sizes. */
/* really need to learn more about this. Can't find a way to have my box to stay central with change in size of the screen */

  body{
  background-image: url("./codebackground.gif");

    
}

/* With smaller screen, background picture replaced by purple colored background */
   @media screen and (max-width: 900px) {

   body { 
      background-color: rgb(116, 123, 221); 
      background-image: none;
     } 
    }

    #changecard {
      border: 0px;
      margin: 0px;
      padding: 0px;
    }