/* It will also feature a clean and polished user interface and be responsive, ensuring that it adapts to multiple screen sizes. */
  
  body{
    background-color: rgb(182, 65, 218);
    
}

.navbar-custom { 
  background-color: lightgreen; 
} 


.responsive {
  width: 100%;
  height: auto;
}

.hr2{ 
    position: fixed;
    text-align:center;
    margin-left:30px;
    margin-right: 30px;
    bottom:100px;
}

  footer {
    position: fixed;
    text-align: center;
    padding: 0px;
    background-color: rgb(61, 36, 102);
    bottom:0;
    width: 100%; 
    height: 75px;
  }



  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  

  /* icon link to linkedin */
  .fa-linkedin {
    background: #007bb5;
    color: white;
   }




   @media screen and (max-width: 600px) {
    /* The body's bg color will be #333 */
   body { 
      background-color: #333; 
     } 
  
    /* The wrapper's width will be 600px */
    .wrapper { 
     width: 600px;  
    }

    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

   }